@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
/* header Section start */

.container {
}
.header {
  background-image: url('/images/top-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
}
.header .header-left {
  width: 50%;
  padding: 10%;
}
.header .header-left a {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.header .header-right {
  width: 50%;
  height: 20vh;
}
.header-right img {
  object-fit: cover;
  width: 90%;
}

.header #name {
  color: orange;
}
.header h1 {
  font-size: 40px;
}
.header h2 {
  font-size: 25px;
}
.header h3 {
  font-weight: 700;
}

/* Header Section end */
.dream-big {
  display: flex;
  margin-top: 10px;
  width: 100%;
}
.dream-big-left {
  width: 50%;
}
.dream-big-left img {
  width: 85%;
  object-fit: cover;
}
.dream-big-right {
  width: 50%;
  padding: 5px 200px 5px 5px;
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: right;
  background-position-y: center;
}

.dream-big-right h1 {
  font-size: 40px;
}
.dream-big-right h3 {
  font-size: 30px;
}
.dream-big-right a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-image: linear-gradient(orange, tomato);
}
